header {
    background-color: brown;
}

body {
    background-color: lightpink;
}

div {
    padding-top: 1em;
}

p {
    color: black;
}

#header {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: bold;
    color: black;
}

.dosfotos {
    max-width: 100%;
}

.dosfotos img {
    max-width: 49%;
    object-fit: cover;
}

.novios {
    max-width: 100%;
}

.novios img {
    object-fit: cover;
}