header {
    background-color: brown;
}

body {
    background-color: lightpink;
}

p {
    color: black;
}

h1 {
    color: black;
}

h2 {
    color: black;
}

h3 {
    color: black;
}

#header {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: bold;
    color: black;
}

.unafoto {
    max-width: 100%;
    height: 720px;
}

.unafoto img {
    object-fit: cover;
}

.dosfotos {
    max-width: 100%;
}

.dosfotos img {
    max-width: 49%;
    object-fit: cover;
}

.novios {
    max-width: 100%;
}

.novios img {
    object-fit: cover;
}
